
@model List<DOCUMENTS_TB>

@{
    var publiclst = Model;
}


@if (publiclst.Count() > 0)
{


    <h4 class="  mb-3">All Public Photos</h4>

    <div class="row">



        @for (int i = 0; i < publiclst.Count(); i++)
        {

            DOCUMENTS_TB item = publiclst[i];
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 my-3">
                <div class="hovereffect">

                    <img class="img-responsive img-fluid h-100 w-100" src='@Url.Content("~/Documents/")@item.FILE_NAME ' alt="">
                    <div class="overlay">

                        <p>

                            <a class="mx-3" asp-action="DownloadFile" asp-route-DOC_ID="@item.DOC_ID" target="_blank">
                                <i class="fas fa-cloud-download-alt"></i>
                            </a>



                        </p>
                    </div>
                </div>
            </div>






        }



    </div>

}
else
{
    <h4 class="text-center  mb-3">No Data Found</h4>

}



<div class="modal fade" id="docLogModal" tabindex="-1" role="dialog" aria-labelledby="docLogModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Photo Logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="DeleteFile">
                <div class="modal-body">
                    <table class="table table-striped" id="tb_log">
                        <thead>
                            <tr>

                                <th>#</th>
                                <th></th>
                                <th>Photo Name</th>
                                <th>Caputured</th>
                                <th>
                                    Caputured Date
                                </th>
                                <th>Geolocation</th>
                                <th>Tags</th>
                                <th>Size (KB)</th>
                                <th>Photo Type</th>
                                <th>Created By</th>
                                <th>Created Date</th>
                                <th>Download</th>
                            </tr>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {

            $('.btn-delete').click(function () {
                var id = $(this).data('id');
                $('#delete_doc_id').val(id);
                $("#deleteModal").modal('show')
            });
            $('.btn-log').click(function () {
                var id = $(this).data('id');
                GetDocLog(id);
            });

        })
        var GetDocLog = function (id) {
            var url = '@Url.Content("~/Home/GetDocLog")';
            $.ajax({
                type: "GET",
                url: url,
                dataType: 'json',
                data: { docId: id },
                contentType: 'application/json',
                success: function (data) {
                    var data = JSON.parse(data);

                    var html = ''
                    $.each(data, function (index, item) {
                        html += '<tr>'
                        html += '<td>' +( index +1) + '</td>'
                        html += '<td> <img style="height:50px; width:50px" src="~/Documents/'+item.FILE_NAME+'" /></td>'
                        html += '<td>' + item.ORGINAL_FILE_NAME + '</td>'
                        html +=' <td>' +item.CAPUTURED+'</td>'
                        html +=' <td>' +item.CAPUTURED_DATE+'</td>'
                        html +='<td>'  +item.GEOLOCATION+'</td>'
                        html += '<td>' + item.TAGS+'</td>'
                        html += '<td>' + item.FILE_SIZE + '</td>'
                        html += '<td>' + item.FILE_TYPE + '</td>'
                        html += '<td>' + item.FILE_TYPE + '</td>'
                        html += '<td>' + item.CREATED_BY_USER.FIRST_NAME + '</td>'
                        html += '<td>' + remove_time(item.CREATED_ON) + '</td>'
                        html += '<td>  \
                                    <a class="text-purple  style="cursor:pointer" href="/Home/DownloadLogFile?DOC_ID='+ item.DOC_LOG_ID+'">\
                                            <i class="fas fa-cloud-download-alt"></i>\
                                    </a>\
                                </td>'

                        html += '</tr>'
                    })
                    $('#tb_log tbody').html(html)
                    $("#docLogModal").modal('show')

                    return false;
                },
                error: function (jqXHR, textStatus, errorThrown) {

                    //GetErrorMessage(jqXHR, textStatus, errorThrown);
                }
            });
        };
    </script>

    <style>
        @@media (min-width: 576px) {
            .modal-dialog {
                max-width: 1000px !important;
            }
        }
    </style>
}