@model LoginVW
@{ 
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhotoCom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
    <body style="">
        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
            <div class="card card0 border-0 h-100" style="height:auto !important">
                <div class="row d-flex">
                    <div class="col-lg-6">
                        <div class="card1 pb-5">
                            <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="~/Images/Photocom.png" class="image"> </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card2 card border-0 px-4 py-5">
                        
                            <div class="text-danger">@ViewBag.error</div>


                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <form method="post" >
                                <div class="row px-3">
                             
                                        <h6 class="mb-0 text-sm">Email Address</h6>
                                    <input class="mb-4" asp-for="Email">
                                </div>
                                <div class="row px-3">
                                 
                                    <h6 class="mb-0 text-sm">Password</h6>
                                    <input type="password" asp-for="Password">
                                </div>
                                <div class="row px-3 mb-4">
                                    <div class="custom-control custom-checkbox custom-control-inline"> <input  type="checkbox"  asp-for="RemmberME" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div>
                                    @*<a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>*@
                                </div>
                                <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Login</button> </div>
                                <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger "  asp-action="CreateAccount">Register</a></small> </div>

                            </form>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </body>
</html>
